

<div class="navbar navbar-dark bg-primary shadow-sm mb-3">
    <div class="navbar-brand align-items-center d-flex">
        <div>
            <button class="btn btn-light mr-3" routerLink="../checkOut">
                <strong style="font-size: 20px;">Checkout</strong>
                <div style="font-size: 10px; margin-left:2px;" class="badge bg-danger">Total</div>
            </button>
            <strong style="color: whitesmoke; font-size: 25px; margin-right: 3px;">: {{grandTotal}}</strong>
        </div>
    </div>
    <div class="navbar-brand align-item-end">
        <div class="btn-group col-3 top_bar_user text-right ml-3" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-danger font-weight-bold" (click)="emptycart()">Empty
                Cart</button>
            <button type="button" class="btn btn-success  font-weight-bold" routerLink="../../book"> Shop More
            </button>
            <button type="button" class="btn btn-light font-weight-bold" (click)="signingOut()">Logout</button>     
            <button type="button" class="btn btn-light disabled font-weight-bold text-uppercase"
                style="color: black;">{{displayName}}</button>
            <button type="button" class="btn btn-light disabled"><i class="fa fa-user userIcon"></i></button>
        </div>
    </div>

</div>

<ng-container *ngIf="cartItemCount !=0">
    <div class="container mb-5">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Product Image</th>
                            <th>Product Name</th>
                            <th>Price</th>
                            <!-- <th>Total</th> -->
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of cartItem; let i = index">
                            <td>{{i+1}}</td>
                            <td><img style="width: 120px;" src="{{item.Image}}" alt=""></td>
                            <td style="width: 25%;">{{item.Title}}</td>
                            <td style="width: 12%;">{{item.Price}}</td>
                            <td>
                                <button (click)="removeItem(item._id)" class="btn btn-danger"><i
                                        class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                       
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</ng-container>


<ng-container *ngIf="cartItemCount ==0">
    <div class="container mb-5">
        <div class="card">
            <h5 class="card-title">My Cart</h5>
        </div>
        <div class="center mb-5">
            <img src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90"
                alt="">
            <h4>Your cart is empty!</h4>
            <h6>Add item to it now</h6>
            <button routerLink="../../book" class="btn btn-primary">Shop Now</button>
        </div>
    </div>
</ng-container>